	<header class="the-header">
		<div class="unit-head">
			<div class="unit-inner unit-head-inner">
				<p class="logo small"><a href="{{ HOME_PATH }}"><img class="site_logo" src="/assets/logo_cghll.png" /></a></p>
				<nav class="nav-global">
					<ul>
						<li class="page"><a href="/about">about</a></li>
						<li class="archive"><a href="/archive">過去のエントリ</a></li>
						<li class="page"><a href="/archeological_pages">考古学的記事</a></li>
						<li class="page"><a href="/pages">全記事</a></li>
						<li class="category"><a href="/categories">カテゴリ</a></li>
						<li class="tag"><a href="/tags">タグ</a></li>
						<!-- google custom search -->
						<li class="page">{% include google_search.html %}</li>
						<li class="page">{% include fb_follow.html %}</li>
						<li class="page">{% include feedly_follow.html %}</li>
						<li class="page">{% include strava_follow.html %}</li>

					</ul>
				</nav>
			</div><!-- unit-inner -->
		</div><!-- unit-head -->
	</header>