{% if page.title == site.title %}
	<meta property="og:type" content="website" />
	<meta property="og:description" content="{{ site.description }}" />
	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
{% else %}
	<meta property="og:type" content="article" />
	<meta property="og:description" content="{{ page.description }}" />
	<meta property="og:url" content="{{ site.url }}{{ page.url }}/index.html" />
{% endif %}
 	<meta property="og:site_name" content="{{ site.title }}" />
	<meta property="og:title" content="{{ page.title }}" />
{% if page.image %}
	<meta property="og:image" content="{{ page.image }}" />
{% endif %}
	<meta property="og:image" content="{{ site.url }}/assets/logo.png"/>
{% if page.date %}
	{% capture page_date %}{{page.date | date_to_xmlschema}}{% endcapture %}
{% else %}
    {% capture page_date %}{{site.time | date_to_xmlschema}}{% endcapture %}
{% endif %}
	<meta property="article:published_time" content="{{page_date}}" />
	<meta property="article:author" content="{{ site.author.name }}" />