{% for post in posts limit: listing_limit %}
  <h3><a href="{{ post.url }}" class="dark-link">{{ post.title }}</a></h3>
  <h4 class="low-top">
    {{ post.date | date: "%Y/%m/%d" }}
  </h4>
  <p>
  <a href="{{ post.url }}">
{% if post.image %}
	{% capture post_image %}{{post.image}}{% endcapture %}
{% else %}
	{% capture post_image %}{{site.url}}/assets/logo.png{% endcapture %}
{% endif %}
  <img src="{{ post_image }}" alt="eyecatch" align="left" hspace="10" width="224px"/>
  {% if post.description %}
  {{ post.description }}
  {% else %}
  <p>{{ post.content | markdownify | strip_html | truncate: 256 }}</p>
  {% endif %}
  </a>
  <p><a href="{{ post.url }}">Read more...</a></p>
  <br clear="left"/>
{% endfor %}

