<style>
.strava-badge- { 
	display: inline-block; height: 20px; 
	margin-bottom: 0;
	vertical-align: middle;
} 
.strava-badge- img {
	visibility: hidden; height: 20px; 
	margin-bottom: 0;
	vertical-align: middle;
} 
.strava-badge-:hover {
	background-position: 0 -31px; 
	margin-bottom: 0;
	vertical-align: middle;
} 
.strava-badge-follow { 
	margin-bottom: 0;
	height: 20px; 
	width: 20px; 
	background: url(/assets/images/blogparts/echelon-sprite-20.png) no-repeat 0 0; 
	vertical-align: middle;
} 
</style>
<a href="http://strava.com/athletes/3772130/badge" class="strava-badge- strava-badge-follow" target="_blank"><img src="/assets/images/blogparts/echelon-sprite-24.png" alt="Strava" /></a>
<!-- <a style="display:inline-block;background-color:#FC4C02;color:#fff;padding:5px 10px 5px 30px;font-size:11px;font-family:Helvetica, Arial, sans-serif;white-space:nowrap;text-decoration:none;background-repeat:no-repeat;background-position:10px center;border-radius:3px;background-image:url('http://badges.strava.com/logo-strava-echelon.png')" href='http://strava.com/athletes/3772130/badge' target="_clean"> でフォローしてください <img src='http://badges.strava.com/logo-strava.png' alt='Strava' style='margin-left:2px;vertical-align:text-bottom' height=13 width=51 /> </a>-->