img {
  width: 480px;
  height: auto;
}

.mid {
  width: 480px;
  height: auto;
}

.small {
  width: 224px;
}


.left {
  float: left;
  margin-right: 16px;
}

.right {
  float: right;
  margin-left: 16px;
}

