.mid {
  width: 480px;
  height: auto;
}

.small {
  width: 224px;
}


.left {
  float: left;
  margin-right: 16px;
}

.right {
  float: right;
  margin-left: 16px;
}

img.site_logo {
  width: 350px;
}

.feedly-btn-horizontal img#feedly-follow{
  width:60px;
  height:20px;
  border:0;
  margin-bottom:0; /* これがないと縦の位置がずれてしまう */
  vertical-align: middle;
}