<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
 <title>Your Title - web</title>
 <link href="http://giantech.jp/tags/web.xml" rel="self"/>
 <link href="http://giantech.jp/tag/web.html"/>
 <updated>2015-08-18T09:13:29+09:00</updated>
 <id>http://giantech.jp/tags/web.html</id>
 <author>
   <name>Author Here</name>
 </author>
 
 <entry>
   <title>Jekyll on Github に OGP/TwitterCardを対応させた</title>
   <link href="http://giantech.jp/2015/05/21/add-ogp-and-twittercard-to-jekyll-on-github"/>
   <updated>2015-05-21T00:00:00+09:00</updated>
   <id>http://giantech.jp/2015/05/21/add-ogp-and-twittercard-to-jekyll-on-github</id>
   <content type="html">&lt;p&gt;&lt;img src=&quot;/assets/images/20150521/sns.jpg&quot; alt=&quot;Eyecatch&quot; /&gt;&lt;/p&gt;

&lt;h2 id=&quot;section&quot;&gt;きっかけ&lt;/h2&gt;

&lt;p&gt;このサイトは&lt;a href=&quot;http://jekyllbootstrap.com/&quot;&gt;Jekyll Bootstrap&lt;/a&gt;ベースでテンプレートを生成した後、カスタマイズしたものをGithub Pagesに置いて公開していた。&lt;a href=&quot;http://jekyllrb.com/&quot;&gt;Jekyll&lt;/a&gt;単体では標準ではOGPに対応しておらず、プラグインもなさげだったので、OGP非対応のまま数年が過ぎていた。当初はあまり気にしていなかったが、さすがにこのままでは格好悪いよね、ということでOGP対応に取り組むことにした。&lt;/p&gt;

&lt;h2 id=&quot;section-1&quot;&gt;参考にしたサイト&lt;/h2&gt;

&lt;ul&gt;
  &lt;li&gt;&lt;a href=&quot;http://kawaken.github.io/memo/2013/08/30/OGP%E3%81%AE%E8%A8%AD%E5%AE%9A%E3%81%A8%E3%81%8BSNS%E9%96%A2%E4%BF%82%E3%81%AE%E3%81%A8%E3%81%93%E3%82%8D%E4%BF%AE%E6%AD%A3%E3%81%97%E3%81%9F.html&quot;&gt;OGPの設定とかSNS関係のところ修正した&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;https://gist.github.com/pathawks/1406355&quot;&gt;Open Graph for Jekyll&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;http://www.agilegroup.co.jp/technote/magnolia-ogp.html&quot;&gt;WebサイトにOpen Graph Protocol (OGP) 設定を追加する&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h2 id=&quot;section-2&quot;&gt;やったこと&lt;/h2&gt;

&lt;p&gt;上記のサイトのスニペットをベースに、トップページの場合と、各記事の場合の２パターンで、それぞれog:type、og:image、og:descriptionの内容を切り換えるように設定した。&lt;/p&gt;

&lt;p&gt;og:imageについては、アイキャッチの画像を入れている場合と、入れていない場合があるので、記事毎のメタ情報でimageタグが指定していたらその画像を、そうでない場合はサイトのロゴを表示するようにした。&lt;/p&gt;

&lt;p&gt;最初はogp.html内でif文書いてケース分けしていたが、かなり見苦しいので、各ケースをextract fileしてogp.htmlではincludeだけするようにした。&lt;/p&gt;

&lt;p&gt;ogp.html:&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;&amp;lt;meta property=&quot;og:type&quot; content=&quot;{% include ogp/type.html %}&quot; /&amp;gt;
&amp;lt;meta property=&quot;og:url&quot; content=&quot;{{ site.url }}{{ page.url }}&quot; /&amp;gt;
&amp;lt;meta property=&quot;og:description&quot; content=&quot;{% include ogp/desc.html %}&quot; /&amp;gt;
&amp;lt;meta property=&quot;og:site_name&quot; content=&quot;{{ site.title }}&quot; /&amp;gt;
&amp;lt;meta property=&quot;og:title&quot; content=&quot;{% include ogp/title.html %}&quot; /&amp;gt;
&amp;lt;meta property=&quot;og:image&quot; content=&quot;{% include ogp/image.html %}&quot; /&amp;gt;
&amp;lt;meta property=&quot;article:published_time&quot; content=&quot;{% include ogp/date.html %}&quot; /&amp;gt;
&amp;lt;meta property=&quot;article:author&quot; content=&quot;http://www.facebook.com/{{ site.author.facebook }}&quot; /&amp;gt;
&lt;/code&gt;&lt;/pre&gt;

&lt;p&gt;ogp/image.html(実際には改行は含めていない):&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;{% if page.image %}
    {% capture page_image %}{{ page.image }}{% endcapture %}
{% else %}
    {% capture page_image %}{{ site.url }}/assets/logo.png&quot;{% endcapture %}
{% endif %}
{{ page_image }}
&lt;/code&gt;&lt;/pre&gt;

&lt;p&gt;ogp/type.html(実際には改行は含めていない):&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;{% if page.title == site.title %}
    {% capture page_type %}website{% endcapture %}
{% else %}
    {% capture page_type %}article{% endcapture %}
{% endif %}
{{ page_type }}
&lt;/code&gt;&lt;/pre&gt;

&lt;h2 id=&quot;twittercard&quot;&gt;ついでにTwitterCard&lt;/h2&gt;

&lt;p&gt;元々はOGP対応だけしようと思っていたが、ついでにTwitterCardにも対応した。OGPのインクルードファイルを利用して以下のように記載。&lt;/p&gt;

&lt;p&gt;twittercard.html:&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;&amp;lt;meta name=&quot;twitter:card&quot; content=&quot;summary&quot;&amp;gt;
&amp;lt;meta name=&quot;twitter:site&quot; content=&quot;@kkd&quot;&amp;gt;
&amp;lt;meta name=&quot;twitter:title&quot; content=&quot;{% include ogp/title.html %}&quot;&amp;gt;
&amp;lt;meta name=&quot;twitter:url&quot; content=&quot;{{ site.url }}{{ page.url }}&quot;&amp;gt;
&amp;lt;meta name=&quot;twitter:description&quot; content=&quot;{% include ogp/desc.html  %}&quot;&amp;gt;
&amp;lt;meta name=&quot;twitter:image&quot; content=&quot;{% include ogp/image.html %}&quot;&amp;gt;
&lt;/code&gt;&lt;/pre&gt;

&lt;h2 id=&quot;section-3&quot;&gt;キャッシュが残っていて困った&lt;/h2&gt;

&lt;p&gt;既にfb上で投稿した記事については、FacebookのDebuggerで確認してもOGP対応されて表示されなかったし、デバッガ上でFetch new scrape informationをしても駄目。半ば諦めていたが、POST送信によるキャッシュクリアを試してみたらクリアできたみたいで一安心。以下のサイトからできた。&lt;/p&gt;

&lt;p&gt;http://www.kagua.biz/fb/cacheclear.html&lt;/p&gt;

&lt;h2 id=&quot;section-4&quot;&gt;感想&lt;/h2&gt;

&lt;p&gt;もう少しスマートにできる気もするが、まぁ今の時点ではOGP対応ができればよかったので満足。&lt;/p&gt;

&lt;p&gt;og:imageの指定については、ルールを決めて「画像ファイル名=記事名」とでもすれば設定しなくてもよくなりそうな気がするが、やり過ぎ感があるので今はやめておく。&lt;/p&gt;

&lt;p&gt;しかし、こういうことをしていると、どんどん&lt;a href=&quot;https://github.com/Shopify/liquid/wiki&quot;&gt;Liquid&lt;/a&gt;を活用したくなってしまうが、こういったTemplate系の実装は黒魔術になりそうなのであまり手出しはしたくない。&lt;/p&gt;

&lt;h2 id=&quot;section-5&quot;&gt;おまけ&lt;/h2&gt;

&lt;p&gt;この記事にJekyllのテンプレート部分をコードブロックで埋め込んだが、どうもLiquid記法の部分がエスケープされずに置換されてしまっていたためうまく表示できなかった。&lt;/p&gt;

&lt;p&gt;LiquidでRawフォーマットで表示するには、rawタグで囲む必要があるので気をつけよう。&lt;a href=&quot;http://stackoverflow.com/questions/3426182/how-to-escape-liquid-template-tags&quot;&gt;How to escape liquid tempalte tags&lt;/a&gt;を参照のこと。&lt;/p&gt;

</content>
 </entry>
 
</feed>